{% extends 'base.html.twig' %}

{% block title %}Edit Person{% endblock %}

{% block body %}
    <a href="{{ path('tblpersons_index') }}">back to list</a>
    <h1>Edit Person</h1>

    {{ include('Persons/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
