{% extends 'base.html.twig' %}

{% block title %}New Person{% endblock %}

{% block body %}
    <h1>Add Person</h1>

    {{ include('Persons/_form.html.twig') }}

    <a href="{{ path('tblpersons_index') }}">back to list</a>
{% endblock %}
