{% extends 'base.html.twig' %}

{% block title %}Edit Contact Type {% endblock %}

{% block body %}
    <h1>Edit Contact Types</h1>

    {{ include('ContactTypes/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('contacttypes_index') }}">back to list</a>

    {{ include('ContactTypes/_delete_form.html.twig') }}
{% endblock %}
