{% extends 'base.html.twig' %}

{% block title %}New Tbllocations{% endblock %}

{% block body %}
    <h1>Create new Tbllocations</h1>

    {{ include('tbllocations/_form.html.twig') }}

    <a href="{{ path('tbllocations_index') }}">back to list</a>
{% endblock %}
